spring:
  datasource:
    url: jdbc:mysql://localhost:3308/mzc-project01-db?useSSL=false&allowPublicKeyRetrieval=true&useUnicode=true&serverTimezone=Asia/Seoul
    username: root
    password: 1234
  jpa:
    properties:
      hibernate:
        default_batch_fetch_size: 100
        format_sql: true
    hibernate:
      ddl-auto: update
logging:
  level:
    root: info
springdoc:
  swagger-ui:
    tags-sorter: alpha
    operations-sorter: method
  api-docs:
    path: /api-docs



